/* src/app/navbar/navbar.component.css */
.navbar {
    height: 100%;
    width: 130px; /* Set the initial width of the expanded sidebar */
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: width 0.3s ease;
  }
  
  /* Add styles to handle the collapsed state */
  .navbar.collapsed {
    width: 80px; /* Set the width of the collapsed sidebar */
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;
  }
  
  .navbar li {
    padding: 15px;
    text-align: center;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    display: block;
  }
  
  /* Add styles for an icon or other indicator to show the sidebar is collapsible/expanding */
  .toggle-btn {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 10px; /* Adjust the top position to center it vertically */
    left: 30%;
    transform: translateX(-50%); /* Center it horizontally */
  }
  
  /* Adjust the position of the three dots when collapsed */
  .navbar.collapsed .toggle-btn {
    left: 10px;
  }
  